.top {
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100%;
}

.list {
  position: relative;
  margin-left: 25vw;

  ul {
    color: black;
    position: absolute;
    margin: 0px 0px;
    padding: 0;
    list-style-type: none;
    background-color: white;
    text-align: center;
    min-width: 100%;

    li {
      text-align: center;
      cursor: pointer;
      padding: 5px 0px;
      border: 1px solid black;
      &:hover {
        background-color: lightgray;
      }
    }
  }

  @media only screen and (max-width: 1500px) {
    margin-left: 15vw;
  }

  @media only screen and (max-width: 1300px) {
    margin-left: 5vw;
  }

  @media only screen and (max-width: 1155px) {
    margin-left: 0;
    width: 20vw;
  }

  @media only screen and (max-width: 992px) {
    display: none;
  }
}

input {
  width: 400px;
  border-radius: 1px;
  &:focus {
    outline: none;
  }

  @media only screen and (max-width: 1155px) {
    width: 24vw;
  }
}

@media only screen and (max-width: 1155px) {
  .drop {
    width: 275px;
  }
}
