<div *ngIf="EditProject" class="form">
  <div>
    <mdb-card class="data">
      <mdb-card-header class="white-text text-center">
        <h5>
          <strong>Edit Project</strong>
        </h5>
      </mdb-card-header>

      <mdb-card-body class="px-lg-5 pt-0">
        <form
          [formGroup]="EditProject"
          (ngSubmit)="sendProject(EditProject.value)"
          class="text-center"
          style="color: #757575"
        >
          <div class="md-form">
            <input
              type="email"
              id="materialLoginFormEmail"
              class="form-control"
              mdbInput
              formControlName="title"
            />
            <label for="materialLoginFormEmail">Title</label>
          </div>
          <em
            *ngIf="
              EditProject.get('title').hasError('required') &&
              EditProject.get('title').touched
            "
            >Required</em
          >
          <em
            *ngIf="
              EditProject.get('title').hasError('maxlength') &&
              EditProject.get('title').touched
            "
            >Too Long !
          </em>
          <div class="md-form">
            <textarea
              type="text"
              id="form7"
              class="md-textarea md-textarea-auto form-control"
              mdbInput
              formControlName="description"
            ></textarea>
            <label for="form7">Description</label>
          </div>
          <em
            *ngIf="
              EditProject.get('description').hasError('required') &&
              EditProject.get('description').touched
            "
            >Required</em
          >
          <em
            *ngIf="
              EditProject.get('description').hasError('maxlength') &&
              EditProject.get('description').touched
            "
            >Too Long !</em
          >

          <button
            mdbBtn
            type="button"
            color="info"
            rounded="true"
            mdbWavesEffect
            type="submit"
            [disabled]="EditProject.invalid || clicked"
          >
            Edit Project
          </button>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>
