<div class="box">
  <div class="chatbox">
    <div class="left" *ngIf="users && loading == false">
      <h4>Hello {{ username }}</h4>
      <div class="allUsers">
        <ng-container *ngFor="let el of users">
          <div
            class="users"
            *ngIf="mongoToken !== el.id"
            (click)="addContact(el)"
          >
            <mdb-icon class="icon" fas icon="user-circle"></mdb-icon>
            <div class="status">
              <span>{{ el.username | titlecase }}</span>
              <span *ngIf="onlineCheck(el)" class="stat">
                <span class="circle"></span>Online</span
              >
              <span *ngIf="!onlineCheck(el)" class="stat">
                <span class="red"></span>Offline</span
              >
            </div>
          </div>
        </ng-container>
      </div>
      <hr />
      <h3>
        Rooms<mdb-icon
          *ngIf="token.role == 'Admin'"
          (click)="showModal()"
          class="add"
          fas
          icon="plus-circle"
        ></mdb-icon>
      </h3>
      <div class="rooms" *ngIf="rooms">
        <div class="room" *ngFor="let el of rooms" (click)="joinRoom(el)">
          <mdb-icon class="icon" fas icon="comment"></mdb-icon>
          <div class="status">
            <span> {{ el.roomName }} </span>
            <!-- <span class="stat" *ngIf="!checkJoined(el)"
              >{{ el.roomUsers.length }} users</span
            >
            <span class="stat" *ngIf="checkJoined(el)"
              >Joined ({{ el.roomUsers.length }} users)
            </span> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Skeleton -->
    <div class="left" *ngIf="loading != false">
      <h4>Hello Strangers</h4>
      <h6>?? users online</h6>
      <div class="allUsers">
        <div class="users">
          <ngx-skeleton-loader
            class="skeleton"
            count="1"
            appearance="circle"
            animation="pulse"
            [theme]="{
              transform: 'scale(1.1)'
            }"
          ></ngx-skeleton-loader>
          <div style="width: 90px">
            <span>
              <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <div class="users">
          <ngx-skeleton-loader
            class="skeleton"
            count="1"
            appearance="circle"
            animation="pulse"
            [theme]="{
              transform: 'scale(1.1)'
            }"
          ></ngx-skeleton-loader>
          <div style="width: 90px">
            <span>
              <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <div class="users">
          <ngx-skeleton-loader
            class="skeleton"
            count="1"
            appearance="circle"
            animation="pulse"
            [theme]="{
              transform: 'scale(1.1)'
            }"
          ></ngx-skeleton-loader>
          <div style="width: 90px">
            <span>
              <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <div class="users">
          <ngx-skeleton-loader
            class="skeleton"
            count="1"
            appearance="circle"
            animation="pulse"
            [theme]="{
              transform: 'scale(1.1)'
            }"
          ></ngx-skeleton-loader>
          <div style="width: 90px">
            <span>
              <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <div class="users">
          <ngx-skeleton-loader
            class="skeleton"
            count="1"
            appearance="circle"
            animation="pulse"
            [theme]="{
              transform: 'scale(1.1)'
            }"
          ></ngx-skeleton-loader>
          <div style="width: 90px">
            <span>
              <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
            </span>
          </div>
        </div>
      </div>
      <hr />
      <h3>Rooms<mdb-icon class="add" fas icon="plus-circle"></mdb-icon></h3>
      <div class="roomSkeleton" >
        <ngx-skeleton-loader
          class="skeleton3"
          count="1"
          appearance="circle"
          animation="pulse"
          [theme]="{
            transform: 'scale(1.1)'
          }"
        ></ngx-skeleton-loader>
        <div class="skeleton2">
          <span>
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </span>
        </div>
      </div>
      <div class="roomSkeleton" >
        <ngx-skeleton-loader
          class="skeleton3"
          count="1"
          appearance="circle"
          animation="pulse"
          [theme]="{
            transform: 'scale(1.1)'
          }"
        ></ngx-skeleton-loader>
        <div class="skeleton2">
          <span>
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </span>
        </div>
      </div>
      <div class="roomSkeleton" >
        <ngx-skeleton-loader
          class="skeleton3"
          count="1"
          appearance="circle"
          animation="pulse"
          [theme]="{
            transform: 'scale(1.1)'
          }"
        ></ngx-skeleton-loader>
        <div class="skeleton2">
          <span>
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </span>
        </div>
      </div>
      <div class="roomSkeleton" >
        <ngx-skeleton-loader
          class="skeleton3"
          count="1"
          appearance="circle"
          animation="pulse"
          [theme]="{
            transform: 'scale(1.1)'
          }"
        ></ngx-skeleton-loader>
        <div class="skeleton2">
          <span>
            <ngx-skeleton-loader animation="pulse"></ngx-skeleton-loader>
          </span>
        </div>
      </div>
    </div>
    <!-- End Skeleton -->

    <div *ngIf="loading == false && msgInboxArray" class="right">
      <h4>Public Room</h4>
      <p>{{ msgInboxArray.length }} messages</p>
      <hr />
      <div #container class="messages">
        <div
          [ngClass]="username == mObj.senderName ? 'leftone' : 'rightone'"
          class="singleMessage"
          *ngFor="let mObj of msgInboxArray"
        >
          <h6>
            <!-- {{ mObj.user }} -->
            {{ mObj.senderName }}
            <!-- <span style="color: grey">{{ mObj.dateCreated | date: "dd MMMM yyyy, HH:mm:ss" }} </span> -->
            <span style="color: grey"
              >{{ mObj.sentDate | date: "dd MMMM yyyy, HH:mm:ss" }}
            </span>
            <mdb-icon fas icon="angle-down"></mdb-icon>
          </h6>
          <p [ngStyle]="myStyles(mObj)">
            <!-- {{ mObj.message }} -->
            {{ mObj.content }}
          </p>
        </div>
      </div>
      <div style="text-align: center">
        <mdb-icon
          style="cursor: pointer; font-size: 25px; width: 50px"
          (click)="scrollDown()"
          fas
          icon="angle-double-down"
        ></mdb-icon>
      </div>
      <hr />
      <form
        [formGroup]="textbox"
        (ngSubmit)="send(textbox.value.message)"
        class="form"
      >
        <textarea
          #message
          id="textarea1"
          style="resize: none"
          type="text"
          placeholder="Write your message"
          formControlName="message"
          (keydown)="breakLineForTextBox($event, textbox.value.message)"
        ></textarea>
        <button [disabled]="textbox.invalid" type="submit">
          <mdb-icon fas icon="paper-plane"></mdb-icon>
        </button>
      </form>
    </div>

    <!-- Skeleton -->
    <div *ngIf="loading != false" class="right">
      <h4>Public Room</h4>
      <p>?? messages</p>
      <hr />
      <div #container class="messages">
        <div class="rightone" class="singleMessage">
          <span>
            <ngx-skeleton-loader
              count="5"
              animation="progress"
              [theme]="{
                height: '150px',
                'background-color': 'grey',
                border: '1px solid white'
              }"
            ></ngx-skeleton-loader>
          </span>
        </div>
      </div>
      <div style="text-align: center">
        <mdb-icon
          style="cursor: pointer; font-size: 25px; width: 50px"
          (click)="scrollDown()"
          fas
          icon="angle-double-down"
        ></mdb-icon>
      </div>
      <hr />
      <form [formGroup]="textbox" (ngSubmit)="console.log('lmao')" class="form">
        <textarea
          #message
          id="textarea1"
          style="resize: none"
          type="text"
          placeholder="Wait Please"
          formControlName="message"
        ></textarea>
        <button [disabled]="true" type="submit">
          <mdb-icon fas icon="paper-plane"></mdb-icon>
        </button>
      </form>
    </div>
    <!-- End Skeleton -->
  </div>
</div>

<!-- Modal Content -->
<form
  *ngIf="addRoomForm"
  [formGroup]="addRoomForm"
  (ngSubmit)="addRoom(addRoomForm.value)"
  class="addRoom"
  [ngClass]="{ show: isShown }"
>
  <div class="addRoom-content">
    <h2>Add Room</h2>
    <div class="md-form">
      <input
        type="email"
        id="Room"
        class="form-control"
        mdbInput
        formControlName="roomName"
        style="color: white"
      />
      <label for="Room">Room</label>
    </div>
    <em
      style="margin: 20px 100px"
      *ngIf="
        addRoomForm.get('roomName').hasError('maxlength') &&
        addRoomForm.get('roomName').touched
      "
      >Too Long !
    </em>
    <em style="margin: 20px 100px" *ngIf="error">
      {{ error }}
    </em>
    <button
      [disabled]="addRoomForm.invalid"
      [ngClass]="{ invalid: addRoomForm.invalid }"
      type="submit"
      class="animated"
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Add
    </button>
    <button (click)="closeModal()" type="button" class="animated">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Close
    </button>
  </div>
</form>
