.contain {
  display: flex;
  height: 100vh;
}

.invalid {
  color: white;
}

.left {
  flex: 1;
  transition: 1s;
  background-image: url(../../../../assets/back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: show 2s;
}

.right {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: left 1s;
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.header > h2 {
  margin: 0;
  color: #4f46a5;
}

.header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  p {
    text-align: right;
    a {
      font-size: 14px;
    }
  }
  button {
    padding: 12px 10px;
    border: 0;
    background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
    border-radius: 3px;
    margin-top: 10px;
    letter-spacing: 1px;
    cursor: pointer;
  }
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: 0;
  transition: 0.2;
  margin-top: 20px;

  &:focus {
    border-color: #0f7ef1;
  }
}

.animation {
  animation: move 0.4s;
  animation-fill-mode: both;
  animation-delay: 1.0s;
}

.a1 {
  animation-delay: 1.1s;
}

.a2 {
  animation-delay: 1.2s;
}

.a3 {
  animation-delay: 1.3s;
}

.a4 {
  animation-delay: 1.4s;
}

.a5 {
  animation-delay: 1.5s;
}

.a6 {
  animation-delay: 1.6s;
}

.a7 {
  animation-delay: 1.7s;
}

.a8 {
  animation-delay: 1.8s;
}

.a9 {
  animation-delay: 1.9s;
}

.a10 {
  animation-delay: 2s;
}

.a11 {
  animation-delay: 1.5s;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    padding: 20px 40px;
    width: 450px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
