<div class="page">
  <div class="box" *ngIf="loading == false">
    <div class="headNav">
      <mdb-icon
        routerLink="/chat"
        fas
        class="icon"
        icon="angle-double-left"
      ></mdb-icon>
    </div>
    <div class="board">
      <div class="leftside">
        <div class="top">
          <h3>Hello {{ user.username }}</h3>
        </div>
        <div class="input">
          <mat-form-field class="search">
            <mat-label>Search User</mat-label>
            <input
              #input2
              (keyup)="searchUser(input2.value)"
              matInput
              placeholder="User's Name"
              value=""
            />
          </mat-form-field>
        </div>
        <h4 style="text-align: center">Users</h4>
        <div class="middleSection">
          <ng-container *ngFor="let el of showUsers">
            <!-- [routerLink]="['/chat/user', el.id]" -->
            <div
              class="user"
              routerLinkActive="active"
              (click)="addContact(el)"
              *ngIf="el.username.toLowerCase() !== user.username.toLowerCase()"
            >
              <mdb-icon class="icon" fas icon="user-circle"></mdb-icon>
              <h6>{{ el.username | titlecase }}</h6>
              <span class="stat" *ngIf="onlineCheck(el)">
                <span class="circle"></span
              ></span>
              <span class="stat" *ngIf="!onlineCheck(el)">
                <span class="red"></span
              ></span>
            </div>
          </ng-container>
        </div>
        <div routerLink="/chat" class="exit">
          <h5>Go Back</h5>
        </div>
      </div>
      <div class="middleSide">
        <div class="top">
          <h3>Talking with {{ recipient.contactName | titlecase }}</h3>
        </div>
        <div #container class="middleSection" *ngIf="chatLoading == false">
          <div
            class="singleMessage"
            *ngFor="let mObj of messages"
            [ngClass]="
              user.username == mObj.senderName ? 'leftone' : 'rightone'
            "
          >
            <h6>
              {{ mObj.senderName }}
              <span style="color: grey"
                >{{ mObj.sentDate | date: "dd MMMM yyyy, HH:mm:ss" }}
              </span>
              <mdb-icon fas icon="angle-down"></mdb-icon>
            </h6>
            <p [ngStyle]="myStyles(mObj)">
              {{ mObj.content }}
            </p>
          </div>
        </div>
        <!-- Skeleton -->
        <div #container class="middleSection" *ngIf="chatLoading != false">
          <div style="margin: 10px 10px">
            <span>
              <ngx-skeleton-loader
                count="3"
                animation="progress"
                [theme]="{
                  width: '48vw',
                  height: '150px',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <!-- End Skeleton -->
        <div style="text-align: center">
          <mdb-icon
            style="cursor: pointer; font-size: 25px; width: 50px"
            class="lmao"
            (click)="scrollDown()"
            fas
            icon="angle-double-down"
          ></mdb-icon>
        </div>
        <form
          [formGroup]="sendMessagePrivate"
          (ngSubmit)="send(sendMessagePrivate.value)"
          class="bottomSection"
        >
          <textarea
            class="text"
            #message
            id="textarea1"
            type="text"
            placeholder="Write your message"
            formControlName="message"
            (keydown)="breakLineForTextBox($event, sendMessagePrivate.value)"
          ></textarea>
          <button [disabled]="sendMessagePrivate.invalid" type="submit">
            <mdb-icon fas icon="paper-plane"></mdb-icon>
          </button>
        </form>
      </div>
      <div class="rightSide">
        <div class="topSide">
          <mdb-icon class="icon" fas icon="user-circle"></mdb-icon>
          <h4>{{ user.firstName }} {{ user.lastName }}</h4>
        </div>
        <div class="middleSection">
          <h5>Rooms</h5>
          <div
            class="room"
            [routerLink]="['/chat/room', el.id]"
            *ngFor="let el of showRooms"
            (click)="joinRoom(el)"
          >
            <mdb-icon class="icon" fas icon="list-alt"></mdb-icon>
            <h5>{{ el.roomName | titlecase }}</h5>
          </div>
        </div>
        <div class="bottomSection">
          <div class="input">
            <mat-form-field class="search">
              <mat-label>Search Room</mat-label>
              <input
                #input
                (keyup)="searchRoom(input.value)"
                matInput
                placeholder="Rooms's Name"
                value=""
              />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- SKeleton  -->
  <div class="box" *ngIf="loading != false">
    <div class="headNav">
      <mdb-icon
        routerLink="/chat"
        fas
        class="icon"
        icon="angle-double-left"
      ></mdb-icon>
    </div>
    <div class="board">
      <div class="leftside">
        <div class="top">
          <h3>Hello !!</h3>
        </div>
        <div class="middleSection">
          <div class="input">
            <mat-form-field class="search">
              <mat-label> Unknown</mat-label>
              <input matInput placeholder="Rooms's Name" value="" />
            </mat-form-field>
          </div>
          <h4 style="text-align: center">Users</h4>
          <div class="rooms">
            <div class="roomSkeleton">
              <ngx-skeleton-loader
                style="transform: scale(1.3)"
                count="1"
                appearance="circle"
                animation="progress"
                [theme]="{
                  'border-radius': '5px',
                  transform: 'scale(1.1)',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
              <div style="width: 90px; margin-left: 10px">
                <span>
                  <ngx-skeleton-loader
                    animation="progress"
                    [theme]="{
                      'background-color': 'lightgrey'
                    }"
                  ></ngx-skeleton-loader>
                </span>
              </div>
            </div>
            <div class="roomSkeleton">
              <ngx-skeleton-loader
                style="transform: scale(1.3)"
                count="1"
                appearance="circle"
                animation="progress"
                [theme]="{
                  'border-radius': '5px',
                  transform: 'scale(1.1)',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
              <div style="width: 90px; margin-left: 10px">
                <span>
                  <ngx-skeleton-loader
                    animation="progress"
                    [theme]="{
                      'background-color': 'lightgrey'
                    }"
                  ></ngx-skeleton-loader>
                </span>
              </div>
            </div>
            <div class="roomSkeleton">
              <ngx-skeleton-loader
                style="transform: scale(1.3)"
                count="1"
                appearance="circle"
                animation="progress"
                [theme]="{
                  'border-radius': '5px',
                  transform: 'scale(1.1)',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
              <div style="width: 90px; margin-left: 10px">
                <span>
                  <ngx-skeleton-loader
                    animation="progress"
                    [theme]="{
                      'background-color': 'lightgrey'
                    }"
                  ></ngx-skeleton-loader>
                </span>
              </div>
            </div>
            <div class="roomSkeleton">
              <ngx-skeleton-loader
                style="transform: scale(1.3)"
                count="1"
                appearance="circle"
                animation="progress"
                [theme]="{
                  'border-radius': '5px',
                  transform: 'scale(1.1)',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
              <div style="width: 90px; margin-left: 10px">
                <span>
                  <ngx-skeleton-loader
                    animation="progress"
                    [theme]="{
                      'background-color': 'lightgrey'
                    }"
                  ></ngx-skeleton-loader>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="exit">
          <h5 routerLink="/chat">Go Back</h5>
        </div>
      </div>
      <div class="middleSide">
        <div class="top">
          <h3>A moment please</h3>
        </div>
        <div #container class="middleSection">
          <div style="margin: 10px 10px">
            <span>
              <ngx-skeleton-loader
                count="3"
                animation="progress"
                [theme]="{
                  width: '48vw',
                  height: '150px',
                  'background-color': 'lightgrey',
                  border: '1px solid white'
                }"
              ></ngx-skeleton-loader>
            </span>
          </div>
        </div>
        <div style="text-align: center">
          <mdb-icon
            style="cursor: pointer; font-size: 25px; width: 50px"
            class="lmao"
            (click)="scrollDown()"
            fas
            icon="angle-double-down"
          ></mdb-icon>
        </div>
        <div class="bottomSection">
          <textarea
            class="text"
            #message
            id="textarea1"
            type="text"
            placeholder="Write your message"
            (keydown)="breakLineForTextBox($event)"
          ></textarea>
          <button [disabled]="true" type="submit">
            <mdb-icon fas icon="paper-plane"></mdb-icon>
          </button>
        </div>
      </div>
      <div class="rightSide">
        <div class="topSide">
          <mdb-icon class="icon" fas icon="user-circle"></mdb-icon>
          <h4>???? ????</h4>
        </div>
        <div class="middleSection">
          <h5>Rooms</h5>
          <div class="user" style="height: 75px">
            <ngx-skeleton-loader
              style="transform: scale(1.3)"
              count="1"
              appearance="circle"
              animation="pulse"
              [theme]="{
                'background-color': 'lightgrey',
                transform: 'scale(1.1)'
              }"
            ></ngx-skeleton-loader>
            <div style="width: 90px; margin-left: 10px">
              <span>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{
                    'background-color': 'lightgrey'
                  }"
                ></ngx-skeleton-loader>
              </span>
            </div>
          </div>
          <div class="user" style="height: 75px">
            <ngx-skeleton-loader
              style="transform: scale(1.3)"
              count="1"
              appearance="circle"
              animation="pulse"
              [theme]="{
                'background-color': 'lightgrey',
                transform: 'scale(1.1)'
              }"
            ></ngx-skeleton-loader>
            <div style="width: 90px; margin-left: 10px">
              <span>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{
                    'background-color': 'lightgrey'
                  }"
                ></ngx-skeleton-loader>
              </span>
            </div>
          </div>
          <div class="user" style="height: 75px">
            <ngx-skeleton-loader
              style="transform: scale(1.3)"
              count="1"
              appearance="circle"
              animation="pulse"
              [theme]="{
                'background-color': 'lightgrey',
                transform: 'scale(1.1)'
              }"
            ></ngx-skeleton-loader>
            <div style="width: 90px; margin-left: 10px">
              <span>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{
                    'background-color': 'lightgrey'
                  }"
                ></ngx-skeleton-loader>
              </span>
            </div>
          </div>
          <div class="user" style="height: 75px">
            <ngx-skeleton-loader
              style="transform: scale(1.3)"
              count="1"
              appearance="circle"
              animation="pulse"
              [theme]="{
                'background-color': 'lightgrey',
                transform: 'scale(1.1)'
              }"
            ></ngx-skeleton-loader>
            <div style="width: 90px; margin-left: 10px">
              <span>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{
                    'background-color': 'lightgrey'
                  }"
                ></ngx-skeleton-loader>
              </span>
            </div>
          </div>
        </div>
        <div class="bottomSection">
          <div class="input">
            <mat-form-field class="search">
              <mat-label>Unknown</mat-label>
              <input #input2 matInput placeholder="User's Name" value="" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
