

.navigation {
  padding: 20px 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  .titlekanban {
    margin-right: 5%;
    margin-left: 5%;
    width: 145px;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    color: #eee;
    position: relative;
    overflow: hidden;
    animation: show 0.5s;
    animation-timing-function: ease-in;
    span {
      transition: 0.5s ease;
    }

    &:focus {
      outline: none;
    }

    &:before {
      content: "";
      position: absolute;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(125, 185, 232, 0) 100%
      );
      height: 60px;
      width: 40px;
      top: -8px;
      left: -60px;
      transform: rotate(30deg);
      transition: all 0.5s;
    }

    &:hover {
      box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
      span {
        opacity: 0;
      }
    }

    &:after {
      content: "Kanban";
      position: absolute;
      // bottom: 10px;
      bottom: 100px;
      right: 45px;
      transition: all 0.5s;
      opacity: 0;
    }

    &:hover:before {
      left: 110%;
    }

    &:hover:after {
      bottom: 10px;
      opacity: 1;
    }

    @media only screen and (max-width: 525px) {
      height: 70px;
      width: 200px;
      margin: 10px;
    }
  }
}

.add {
  &:after {
    content: "Task" !important;
    position: absolute;
    // bottom: 10px;
    bottom: 100px;
    right: 55px !important;
    transition: all 0.5s;
    opacity: 0;
  }

  &:hover:before {
    left: 110%;
  }

  &:hover:after {
    bottom: 10px;
    opacity: 1;
  }
}

.back {
  &:after {
    content: "Projects" !important;
    position: absolute;
    // bottom: 10px;
    bottom: 100px;
    right: 40px !important;
    transition: all 0.5s;
    opacity: 0;
  }

  &:hover:before {
    left: 110%;
  }

  &:hover:after {
    bottom: 10px;
    opacity: 1;
  }
}

.contain {
  overflow: hidden;
  animation: showTable 2s;
  animation-timing-function: ease-in;
}

.table {
  text-align: center;
}

tr {
  transition: 0.5s;
  &:hover {
    background-color: lightgrey !important;
  }
}
button {
  background-color: inherit;
  border: none;
  outline: none;
}

.important {
  color: red;
}

.complete {
  text-decoration: line-through;
  color: black;
}

.special {
  width: 100%;
  margin: 0;
}

th {
  font-weight: bold;
  &::selection {
    outline: none;
  }
}

.mt-3 {
  text-align: center;
}

.importanceHead {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .importance {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  .id {
    display: none;
  }
}

tr:nth-child(2n) {
  background-color: #f8f8f8;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes showTable {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 500vh;
  }
}

$gb: #f2eee8;
$wh: #ffffff;
$dark: #383a41;
$red: #eb6d6d;
$blue: #5e7fdc;
$break: 400px;

.nothing {
  section {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    font-family: "Open Sans";
  }

  *,
  *:before,
  *:after {
    box-sizing: content-box;
    transform: translate3d(0, 0, 0);
  }

  .face {
    width: 300px;
    height: 300px;
    border: 4px solid $dark;
    border-radius: 10px;
    background-color: $wh;
    margin: 0 auto;
    margin-top: 100px;

    @media screen and (max-width: $break) {
      margin-top: 40px;
      transform: scale(0.8);
    }

    .band {
      width: 350px;
      height: 27px;
      border: 4px solid $dark;
      border-radius: 5px;
      margin-left: -25px;
      margin-top: 50px;

      .red {
        height: calc(100% / 3);
        width: 100%;
        background-color: $red;
      }

      .white {
        height: calc(100% / 3);
        width: 100%;
        background-color: $wh;
      }

      .blue {
        height: calc(100% / 3);
        width: 100%;
        background-color: $blue;
      }

      &:before {
        content: "";
        display: inline-block;
        height: 27px;
        width: 30px;
        background-color: rgba($wh, 0.3);
        position: absolute;
        z-index: 999;
      }

      &:after {
        content: "";
        display: inline-block;
        height: 27px;
        width: 30px;
        background-color: rgba($dark, 0.3);
        position: absolute;
        z-index: 999;
        right: 0;
        margin-top: -27px;
      }
    }

    .eyes {
      width: 128px;
      margin: 0 auto;
      margin-top: 40px;

      &:before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 15px;
        border: 7px solid $dark;
        margin-right: 20px;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-bottom: 0;
      }

      &:after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 15px;
        border: 7px solid $dark;
        margin-left: 20px;
        border-top-left-radius: 22px;
        border-top-right-radius: 22px;
        border-bottom: 0;
      }
    }

    .dimples {
      width: 180px;
      margin: 0 auto;
      margin-top: 15px;

      &:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 80px;
        border-radius: 50%;
        background-color: rgba($red, 0.4);
      }

      &:after {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-left: 80px;
        border-radius: 50%;
        background-color: rgba($red, 0.4);
      }
    }

    .mouth {
      width: 40px;
      height: 5px;
      border-radius: 5px;
      background-color: $dark;
      margin: 0 auto;
      margin-top: 25px;
    }
  }

  h1 {
    font-weight: 800;
    color: $dark;
    text-align: center;
    font-size: 2.5em;
    padding-top: 20px;
    color: white;

    @media screen and (max-width: $break) {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 2em;
    }
  }

  .buttonwa {
    font-family: "Open Sans";
    font-weight: 400;
    padding: 20px;
    background-color: rgba($blue, 1);
    color: white;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: 50px;
    transition: all 0.2s linear;
    cursor: pointer;

    @media screen and (max-width: $break) {
      margin: 0 auto;
      margin-top: 60px;
      margin-bottom: 50px;
      width: 200px;
    }

    &:hover {
      background-color: rgba($blue, 0.8);
      transition: all 0.2s linear;
    }
  }
}
